name: DCO

on:
  pull_request:
    branches: [main]

jobs:
  dco:
    name: DCO Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check DCO
        uses: tisonkun/actions-dco@v1.2
